<aside class="menu is-fullheight">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="/">Links list</a></li>
    <li><a href="/manage">Manage links</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a href="/customization">Customization</a></li>
  </ul>
  <p class="menu-label">
    Informations
  </p>
  <ul class="menu-list">
    <li>
      <a href="https://github.com/LucasCtrl/bookmarkYourInternet" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-github"></i>
        Github repository
      </a>
    </li>
    <li>
      <a href="https://github.com/LucasCtrl/bookmarkYourInternet" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-link"></i>
        Developer's website
      </a>
    </li>
  </ul>
</aside>