{{> navbar}}

<div class="columns is-marginless">
  {{!-- Sidebar --}}
  <div class="column is-2 is-paddingless">
    {{> sidebar}}
  </div>

  {{!-- Page content --}}
  <div class="column is-10 is-paddingless">
    <div>

      {{!-- Add section --}}
      <div class="box content">
        <h4>Customize you application</h4>
        <form action="/customization/add" method="post" encType="multipart/form-data">
          {{!-- File --}}
          <div class="field">
            <div class="file has-name is-boxed">
              <label class="file-label">
                <input class="file-input" type="file" name="cssFile" id="cssFile">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name" id="cssFilename">
                  Choose a file...
                </span>
              </label>
            </div>
          </div>
          {{!-- Action area --}}
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text" type="reset">Cancel</button>
            </div>
          </div>
        </form>

        {{!-- Custom style list --}}
        {{#if customStylesheet}}
        <table class="table">
          {{!-- Header --}}
          <thead>
            <th style="width: 170px;">Style</th>
            <th class="has-text-centered" style="width: 90px;">Edit</th>
          </thead>
          {{!-- Body --}}
          <tbody>
            {{#each customStylesheet}}
            <tr>
              <td>
                {{link}}
              </td>
              <td class="has-text-centered">
                {{!-- Delete button --}}
                <a href="customization/delete?name={{name}}">
                  <button class="button is-small is-danger">
                    <i class="fa fa-close"></i>
                  </button>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}
      </div>

    </div>
  </div>
</div>