@font-face {
  font-family: 'discordfont';
  src: url(../fonts/discord.ttf) format('truetype');
}

.navbar-item {
  font-family: discordfont;
  font-size: 20px;
  font-weight: 100 !important;
}

.menu {
  padding: 20px;
  border-right: 1px solid rgba(10, 10, 10, 0.1)
}

.box {
  border-radius: 0;
}